body {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

.message {
  height: 500px;
  border: 1px solid green;

  &:after {
    clear: both;
  }

  .list {
    float: left;
    width: 30%;
    background-color: #c7f5ff;
    height: 100%;
  }

  .details {
    float: left;
    width: 70%;
    background-color: #c9ffcb;
    height: 100%;
  }

}